html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: Arial,Helvetica,sans-serif;
}

#mapDiv {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#searchDiv {
    display: block;
    position: absolute;
    z-index: 3;
    top: 20px;
    left: 75px;
    width: 60%;
}

#LocateButton {
    position: absolute;
    top: 95px;
    left: 20px;
    z-index: 50;
}


.flagButtonNotPressed {
    position: absolute;
    top: 135px;
    left: 20px;
    z-index: 50;
    padding: 2px;
    width: 30px;
    height: 30px;
    background-color: #666;
    background-color: rgba(102,102,102,0.80);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background-image: url("../images/flag.png");
    background-position: center center;
    background-repeat: no-repeat;
}
.flagButtonPressed {
    position: absolute;
    top: 135px;
    left: 20px;
    z-index: 50;
    padding: 2px;
    width: 30px;
    height: 30px;
    background-color: #f00;
    background-color: rgba(255,0,0,0.80);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background-image: url("../images/flag.png");
    background-position: center center;
    background-repeat: no-repeat;

}
.barrierButtonNotPressed {
    position: absolute;
    top: 175px;
    left: 20px;
    z-index: 50;
    padding: 2px;
    width: 30px;
    height: 30px;
    background-color: #666;
    background-color: rgba(102,102,102,0.80);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background-image: url("../images/Barrier.png");
    background-position: center center;
    background-repeat: no-repeat;
}
.barrierButtonPressed {
    position: absolute;
    top: 175px;
    left: 20px;
    z-index: 50;
    padding: 2px;
    width: 30px;
    height: 30px;
    background-color: #f00;
    background-color: rgba(255,0,0,0.80);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background-image: url("../images/Barrier.png");
    background-position: center center;
    background-repeat: no-repeat;
}
.executeButton {
    position: absolute;
    top: 215px;
    left: 20px;
    z-index: 50;
    padding: 2px;
    width: 30px;
    height: 30px;
    background-color: #666;
    background-color: rgba(102,102,102,0.80);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background-image: url("../images/trace.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.executeButtonProcess {
    position: absolute;
    top: 215px;
    left: 20px;
    z-index: 50;
    padding: 2px;
    width: 30px;
    height: 30px;
    background-color: #666;
    background-color: rgba(102,102,102,0.80);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background-image: url("../images/locate-spinner.gif");
    background-position: center center;
    background-repeat: no-repeat;
}


.clearButton {
    position: absolute;
    top: 255px;
    left: 20px;
    z-index: 50;
    padding: 2px;
    width: 30px;
    height: 30px;
    background-color: #666;
    background-color: rgba(102,102,102,0.80);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background-image: url("../images/erase.png");
    background-position: center center;
    background-repeat: no-repeat;
}



/* customize geocoder appearance */
.simpleGeocoder, .simpleGeocoder .esriGeocoderContainer {
    width: 100%;
}

    .simpleGeocoder .esriGeocoder {
        height: 100%;
    }

        .simpleGeocoder .esriGeocoder input {
            width: 75%;
        }


    .simpleGeocoder .esriGeocoderResult:hover,
    .simpleGeocoder .esriGeocoderResultEven:focus,
    .simpleGeocoder .esriGeocoderResultOdd:focus {
        /* default is #EDEDED, use a light blue instead */
        background-color: #B5DAEA;
    }


.esriRTL label {
    /*Example of a rule that will be applied if the app is viewed in a browser wtih a RTL locale like Hebrew or Arabic.*/
}


.appLayout {
    height: 100%;
}



.claro .edgePanelBottom {
    background-color: #000000;
    filter: alpha(opacity=70);
    -moz-opacity: 0.70;
    -khtml-opacity: 0.70;
    opacity: 0.70;
    height: 100px;
    /*display: none;*/
}

.claro .edgePanelTop {
    background-color: #000000;
    filter: alpha(opacity=70);
    -moz-opacity: 0.70;
    -khtml-opacity: 0.70;
    opacity: 0.70;
    background-color: #000000;
    color: #ffffff;
}

.claro .edgePanelCenter {
    background-color: #000000;
    color: #000000;
    padding: 0;
    margin: 0;
}

.claro .edgePanelLeft {
    background-color: #000000;
    color: #ffffff;
}

.claro .searchPanelCenter {
    background-color: #000000;
    color: #ffffff;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.claro .searchPanelLeft {
    background-color: #000000;
    color: #ffffff;
    width: 10em;
    overflow: hidden;
}

.panelBreak {
    position: relative;
    /*	height: auto; */
    width: 10px;
    float: left;
    display: block;
    background: url("images/break.png") no-repeat;
}

.panelResultsTab {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    float: left;
    display: block;
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 0px;
}

.panelSearchTab {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    float: left;
    display: block;
    margin-top: 15px;
    margin-bottom: 0px;
    padding: 0px;
}



.panelTitle {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 25px;
    /*font-family: HelveticaNeue;*/
    color: #ffffff;
    font-variant: small-caps; 
    font-weight: 500; 
    letter-spacing: 0.5px; 
    text-align: center;
    line-height: 25px;
}

.panelInfo {
    position: relative;
    left: 0px;
   top: 25px;
    width: 100%;
    height: 100%;
    /*font-family: steelfish_rgregular;*/
    font-size: 32pt;
    font-variant: small-caps; 
    font-weight: bold; 
    color: #ffffff;
    text-align: center;
   
}



.claro .resultsPanelLeft {
    background-color: #000000;
    color: #ffffff;
    width: 20em;
}

.claro .resultsPanelCenter {
    background-color: #000000;
    color: #ffffff;
    width: 20em;
}

.claro .businessInfluenceVal {
    padding: 12px 18px 14px 18px;
}
.sliderText {
    color: #000000;

}

.userControls {
    border-radius: 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    padding: 2px 8px 4px 8px;
}

#findType {
    border-radius: 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    padding: 2px 8px 4px 8px;
    color: #000000;
}

.userControlsText {
    border-radius: 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    padding: 2px 8px 4px 8px;
    width: 2em;
}

#loader {
    position: absolute;
    background: url("images/preloader.gif") no-repeat;
    z-index: 250;
    width: 65px;
    height: 50px;
    left: 50%;
    top: 50%;
    display: none;
}
